.footer {
	background-color: #222;
	padding: 5rem 0 3rem 0;

	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 6rem;

	&__copy {
		color: lightgray;
		font-size: 1.6rem;
		align-self: center;
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		height: inherit;
		align-items: center;
		justify-content: space-around;
		list-style-type: none;
		color: lightgray;
	}

	&__list-item {
		transition: 0.15s;
		margin: 1rem;

		&:hover {
			transform: scale(1.05);
		}
	}

	&__list-link {
		font-size: 2rem;
		padding: 1rem 2rem;
		border-radius: 1rem;

		transition: 0.2s;
		&:hover {
			background-color: #161616;
		}
	}

	&--bottom {
		position: absolute;
		bottom: 0;
		width: 100vw;
	}
}
