.section-top {
	height: 85vh;
	clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
	width: 100vw;

	position: relative;
	z-index: 1;

	// background: #234 url('../media/img/b1.jpg');
	// background-size: cover;
	// background-blend-mode: multiply;

	&__content {
		z-index: 1;
		position: relative;

		color: white;

		display: grid;
		place-content: center;

		height: 100%;
		transform: translateY(-4rem);
		text-align: center;
	}

	&__heading-1 {
		font-weight: 300;
		font-size: 8rem;
		letter-spacing: 2px;

		animation: toLeft 1s backwards 0.3s;
	}

	&__heading-2 {
		font-size: 2rem;
		margin-bottom: 5rem;
		font-weight: 400;

		animation: toRight 1s backwards 1.1s;
	}

	&__btn {
		font-size: 1.8rem;
		display: inline;
		justify-self: center;

		animation: toUp 1s backwards 1.7s;
	}

	&__img {
		position: absolute;

		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100vw;

		object-fit: cover;
		filter: brightness(40%) blur(2px);
		transform: scale(1.04);
	}
}
