.btn {
	text-decoration: none;
	color: white;
	padding: 1.5rem 3rem;
	border-radius: 99999px;
	border: 1px solid $colorPrimary;
	transition: 0.2s;
	letter-spacing: 0.4px;

	&:hover {
		background-color: $colorPrimary;
		color: $colorFontPrimary;

		box-shadow: $colorPrimary 0px 5px 10px -5px, $colorPrimary 0px 8px 16px -8px;
	}
}

.btn-rect {
	transition: 0.23s;
	border-radius: 3px;
	background-color: #282828;
	font-size: 1.45rem;
	box-shadow: 0 1rem 1rem rgba($color: #282828, $alpha: 0.4);
	color: white !important;
	display: block;
	padding: 1.2rem 2.2rem;

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0 1.5rem 1.5rem rgba($color: #282828, $alpha: 0.4);
	}
	&:focus {
		transform: translateY(0rem);
		box-shadow: 0 0.8rem 0.8rem rgba($color: #282828, $alpha: 0.4);
	}
}
