.section {
	padding: 0rem 2rem;
	&__content {
		margin: 5rem auto 0 auto;
		width: min(115rem, 100%);

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 4rem;

		&--lg {
			width: min(190rem, 100%);
		}
	}

	&__content-left {
		.text {
			max-width: 45rem;
		}
	}
	&__content-right {
		max-width: 500px;
		width: 450px;
		min-width: 300px;
	}
}
