.section {
	padding: 0rem 4rem;
	&__content {
		margin: 5rem auto 0 auto;
		width: min(115rem, 100%);

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 4rem;

		&--lg {
			width: min(190rem, 100%);
		}

		&--no-margin {
			margin: 0 auto;
		}

		&--around {
			justify-content: space-around;
		}

		&--contact-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: min-content 1fr;

			.heading {
				grid-column: 1;
				grid-row: 1;
			}
			.contact-form {
				grid-column: 2;
				grid-row: 1/-1;
			}
			.text {
				grid-column: 1;
				grid-row: 2;
			}
		}
	}
}
