.section {
	padding: 0rem 4rem;
	&__content {
		margin: 5rem auto 0 auto;
		width: min(115rem, 100%);

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 4rem;

		&--lg {
			width: min(190rem, 100%);
		}
	}
}
