@keyframes toLeft {
	0% {
		transform: translateX(80%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes toRight {
	0% {
		transform: translateX(-80%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes toUp {
	0% {
		transform: translateY(80%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
