@for $i from 0 through 12 {
	$value: $i * 1rem;

	.mt-#{$i} {
		margin-top: $value !important;
	}

	.mb-#{$i} {
		margin-bottom: $value !important;
	}

	.pt-#{$i} {
		padding-top: $value !important;
	}

	.pb-#{$i} {
		padding-bottom: $value !important;
	}
}

.mt-minus-12 {
	margin-top: -12rem !important;
}

.ml-10 {
	margin-left: 10rem !important;
}

.shadow-childs {
	& > * {
		@include defaultShadow;
	}
}

.shadow {
	@include defaultShadow;
}

.flex-1 {
	flex: 1 !important;
}

.border {
	border-radius: 1rem !important;
}
.border-lg {
	border-radius: 2rem !important;
}

.border-xl {
	border-radius: 3rem !important;
}

.bg-lightgray {
	background-color: #f4f4f4;
}

.position-relative {
	position: relative !important;
}

.m-0 {
	margin: 0 !important;
	padding: 0 !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.border-none {
	border: none !important;
}
