.mb-2 {
	margin-bottom: 2rem !important;
}

.mb-4 {
	margin-bottom: 4rem !important;
}

.mb-8 {
	margin-bottom: 8rem !important;
}
.mb-10 {
	margin-bottom: 10rem !important;
}
.mb-12 {
	margin-bottom: 12rem !important;
}

.pt-12 {
	padding-top: 12rem !important;
}

.ty-12 {
	transform: translateY(-12rem) !important;
}

.ml-10 {
	margin-left: 10rem !important;
}

.shadow-childs {
	& > * {
		@include defaultShadow;
	}
}

.shadow {
	@include defaultShadow;
}

.flex-1 {
	flex: 1 !important;
}

.border {
	border-radius: 1rem !important;
}
.border-lg {
	border-radius: 2rem !important;
}

.border-xl {
	border-radius: 3rem !important;
}

.bg-lightgray {
	background-color: #f4f4f4;
}
